.loader
  display: none
  position: absolute
  top: 50%
  left: 50%
  margin: 0px
  z-index: 1000

  -webkit-transform: translateX(-50%) translateY(-50%)
  -moz-transform: translateX(-50%) translateY(-50%)
  -o-transform: translateX(-50%) translateY(-50%)
  -ms-transform: translateX(-50%) translateY(-50%)
  transform: translateX(-50%) translateY(-50%)

.loader.active,
.loader.visible 
  display: block

.loader.disabled,
.loader.hidden 
  display: none

.small.loader 
  width: 24px
  height: 24px
  background-image: url(../images/loader-small.gif)

.inline.loader 
  position: static
  vertical-align: middle
  margin: 0em

  -webkit-transform: none
  -moz-transform: none
  -o-transform: none
  -ms-transform: none
  transform: none

.inline.loader.active,
.inline.loader.visible 
  display: inline-block
