<div class="container outer-container" id="container">
  <header class="header-container" id="header-container"></header>

  <section class="main-container" id="main-container"></section>
  <div class="push"></div>
</div>

<footer class="footer-container" id="footer-container"></footer>
