<div id="messages-container"></div>

<div id="container" class="container outer-container">
  <header id="header-container"></header>
  <section id="main-container"></section>
  <div class="push"></div>
</div>

<footer id="footer-container"></footer>