@import 'variables'
@import 'base'
@import 'redefine'

html, body
  height: 100%

#site-container
  height: inherit

#container
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -30px
  overflow: auto

#main-container
  margin-bottom: 20px

#footer-container, .push
  height: 30px

#footer-container
  background-color: #333
  overflow: hidden
  .copyright
    color: white
    font-size: 11px
    margin: 10px 0 0 10px

#messages
  position: absolute
  padding: 10px 0
  width: 100%

form
  .ui.inline.loader
    margin-left: 10px