@import 'variables'
@import 'elements/loader'

html, body
  height: 100%

#site-container
  height: inherit

#container
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -40px
  overflow: auto

#main-container
  margin-bottom: 20px

#footer-container, .push
  height: 40px

#footer-container
  border-top: 1px solid #e5e5e5;
  overflow: hidden
  color: #777
  padding: 10px 0
  
#messages
  position: absolute
  padding: 10px 0
  width: 100%
  z-index: 99

form
  .inline.loader
    margin-left: 10px

@import 'pages/home'
@import 'sessions/new-form'