{{#ifLoggedIn}}
  {{#withUser}}
    Hello {{email}}, <a href="{{url "auth#signout"}}">Sign out</a>
  {{/withUser}}
{{else}}
  <div class="ui grid">
    <div class="middle five wide column">
      <div class="logo">
        <img src="../images/logo.png" alt="" title="Gone in Sixty Seconds" />
      </div>
      <section id="sessions-new-form-container"></section>
    </div>
  </div>
{{/ifLoggedIn}}